.header {
  display: flex;
  margin-bottom: 8px;
}

.header-title {
  margin-top: 3px;
}

.header h1, .header span, .header p {
    display: inline-block;
    line-height: 1.2rem;
    font-size: .9rem;
    margin-bottom: 4px;
}

.header-title h1 {
  font-weight: bold;
  font-size: .9rem;
}

.header-title span {
  display: inline;
  color: grey;
  font-size: .8rem;
}

img {
  width: 50px;
  margin: 0 10px;  
}