footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 70px;
  width: 258px;
  color: grey;
}

footer i {
  cursor: pointer;
}

footer span {
  font-size: .7rem;
}

footer .heart-pair, footer .sync-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32px;
}

footer .fa-comment {
  display: inline-block;
  transform: scaleX(-1);
}